.Toolbar {
  height: 56px;
  width: 100%;
  background-color: #703b09;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}
.Toolbar nav {
  height: 100%;
}
