.NavigationItem {
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin: 10px 0;
}
.NavigationItem a {
  width: 100%;
  color: #8f5c2c;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:hover,
.NavigationItem a.active {
  color: #40a4c2;
}

@media (min-width: 500px) {
  .NavigationItem {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    margin: 0;
  }
  .NavigationItem a {
    height: 100%;
    color: #fff;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    padding: 16px 10px;
  }

  .NavigationItem a:hover,
  .NavigationItem a:hover,
  .NavigationItem a.active {
    color: #fff;
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c2;
  }
}
